@import "themes/base/all.css";

* {
    font-family: Arial, sans-serif;
}

body {
    background: url(/Images/body.jpg) repeat-x #92B3AD;
    margin: 0;
    padding: 0;
}

.layout {
    background: url(/Images/banner.jpg) no-repeat;
    margin: 0 auto 0 auto;
    padding-top: 110px;
    position: relative;
    width: 900px;
}

    .layout > .content {
        background: #fefefe;
        border: 1px solid #428075;
        border-top: 1px solid #fefefe;
        min-height: 400px;
        padding: 0 10px 10px 10px;
        width: 878px;
    }

ul.menu {
    list-style: none;
    margin: 0 0 0 635px;
    padding: 0;
}

    ul.menu li {
        display: inline-block;
        margin-right: 20px;
    }

        ul.menu li a {
            color: #000;
            font-size: 14px;
            text-decoration: none;
        }

            ul.menu li a:hover {
                text-decoration: underline;
            }

table {
    border: 1px solid #428075;
    margin-top: 10px;
    width: 100%;
}

    table thead th {
        background: #428075;
        color: #fff;
    }

    table tbody tr:nth-child(even) {
        background: #d2e6d7;
    }

    table td, table th {
        padding: 5px;
    }

    table tfoot.pager tr td {
        background: #428075;
        color: #fff;
        font-weight: bold;
        text-align: center;
    }

        table tfoot.pager tr td a {
            color: #fff;
            text-decoration: none;
        }

fieldset {
    border: 1px solid #000;
    padding: 10px;
}

    fieldset ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        fieldset ol li {
            margin-bottom: 10px;
        }

            fieldset ol li label {
                display: block;
                font-size: small;
            }

input[type=text], select {
    width: 100%;
}

.ui-dialog-content ol {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

    .ui-dialog-content ol li {
        margin-bottom: 15px;
    }

        .ui-dialog-content ol li label {
            display: block;
            font-size: .8em;
        }

.no-close .ui-dialog-titlebar-close {
    display: none;
}

li.error label {
    color: red;
}

li.error input, li.error select, input.error, select.error {
    border: 1px solid red;
}

tr.overdue {
    color: red;
    font-weight: bold;
}

input.current-page {
    width: 20px;
}
